version: '3.8'

services:
  nginx:
    image: nginx:1.21.1
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./laravel-backend:/var/www/
    depends_on:
      - php

  nextjs:
    build:
      context: .
      dockerfile: ./docker/nextjs/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./nextjs-frontend:/app
      - nextjs_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - ./nextjs-frontend/.env.local.demo
    depends_on:
      - php

  php:
    build: ./docker/php
    ports:
      - "8000:8000"
    volumes:
      - ./laravel-backend:/var/www/

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_pass
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
      - PMA_USER=laravel_user
      - PMA_PASSWORD=laravel_pass
    depends_on:
      - mysql
    ports:
      - 8080:80

volumes:
  nextjs_node_modules:
